@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  background: #eee;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-top: 10px;
  line-height: 0.7;
}

p {
  font-size: 1.1em;
  line-height: 0.8em;
}

#logo {
  float: left;
  margin-right: 30px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

input {
  width: 100%;
  margin-bottom: 15px;
  height: auto !important;
}

form {
  text-align: left;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#error {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#accounts, #transactions {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}

#account_form, #transaction_form {
  display: none;
}

input[type="checkbox"], input[type="radio"] {
  width: 5%;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

nav > ul > li > a:hover {
border-bottom: 2px solid #85d4cd;
text-decoration: none;
}

li.active > a{
  border-bottom: 2px solid #85d4cd;
}

nav > ul > li > a {
  font-size: 1.1em;
  letter-spacing: -0.3px;
  border-bottom: 2px solid #333
}

.margin-top-40 {
  margin-top: 40px
}

.column {
  border: 1px solid #ccc;
  padding:10px;
  background:#fff;
  border-radius:4px;
  text-align:center;
}

a {
  color:#555;
}

a:hover {
  color:#000
}

.description {
  font-family: 'Abel', sans-serif !important;
  text-align: center;
  font-size: 1.2em;
  line-height: 110%;
  margin: 10px 0px 20px 0px !important;
}
